
table#leaderboard {
    counter-reset: rowNum 0;
  }
  
  table#leaderboard tbody tr {
    counter-increment: rowNum;
  }
  
  table#leaderboard tbody tr td:first-child::before {
    content: counter(rowNum); 
  }
