{% load socialaccount %}
<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Work4It</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/exercise/assets/css/main.css" />
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		  google.charts.load("current", {packages:["calendar"]});
		  google.charts.setOnLoadCallback(drawChart);
	
	   function drawChart() {
		   var dataTable = new google.visualization.DataTable();
		   dataTable.addColumn({ type: 'date', id: 'Date' });
		   dataTable.addColumn({ type: 'number', id: 'Calories' });
		   
		   dataTable.addRows([

				{% for x, y in date_calories.items %}
					  [ new Date( {{y.0}}, {{y.1}}, {{y.2}}), {{y.3}} ],
				{% endfor %}
			]);
		   var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));
	
		   var options = {
			 height: 300,
			 width: 1000,
			 calendar:{
				 underMonthSpace: 15,
				 yearLabel:{
					 fontName: 'Arial',
					 color: '#000000',
					 bold: false
				 },
				 monthLabel:{
					 fontName: 'Arial',
					 color: '#000000',
					 bold: false
				 }
			 },
			 colorAxis:{
				minValue: 0,  colors: ['#eecda3', '#ef629f']
			 }
		   };
	
		   chart.draw(dataTable, options);
	   }
		</script>
	</head>
	<body>
		{% if user.is_authenticated %} <!-- AUTHENTICATED USER-->
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'exercise:home' %}">Welcome <span>{{ user.username }}</span></a></div>
				<a style="font-size:1.25em; left:8.5em; position:absolute;">|</a>
				<a style="font-size:1.25em; left:9.5em; position:absolute;"href="{% url 'account_logout'%}" 
					onmouseover="this.style.color='rgba(255, 255, 255, 0.65)';" onmouseout="this.style.color='white';">Logout</a>
				<!--
				<a style="font-size:1.25em; left:13.75em; position:absolute;">|</a>
				<a style="font-size:1.25em; left:14.75em; position:absolute;"href="{% url 'exercise:workout' %}"
					onmouseover="this.style.color='rgba(255, 255, 255, 0.65)';" onmouseout="this.style.color='white';">Add Workout</a>
				-->
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'exercise:home' %}">Home</a></li>
					<li><a href="{% url 'exercise:video' %}">Instruction Videos</a></li>
					<li><a href="{% url 'exercise:workout' %}">Add Workout</a></li>
					<li><a href="{% url 'exercise:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'exercise:leaderboard' %}">Leaderboard</a></li>
				</ul>
			</nav>
			{% else %} <!-- UN AUTHENTICATED USER-->
			<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'exercise:home' %}">Work4It <span>by A-17</span></a></div>
				<a style="font-size:1.25em; left:7.5em; position:absolute;">|</a>
				<a style="font-size:1.25em; left:8.5em; position:absolute;"href="{% provider_login_url 'google' %}?next=/dashboard"
					onmouseover="this.style.color='rgba(255, 255, 255, 0.65)';" onmouseout="this.style.color='white';">Login</a>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'exercise:home' %}">Home</a></li>
					<li><a href="{% url 'exercise:video' %}">Instruction Videos</a></li>
					<li><a href="{% url 'exercise:leaderboard' %}">Leaderboard</a></li>
				</ul>
			</nav>
			{% endif %}

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>This is your exercise dashboard</p>
						<h2>{{ user.username }}</h2>
					</header>
				</div>
			</section>
		
		<!-- DISPLAY WORKOUTS -->
			<section id="three" class="wrapper style4">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>View all your workouts here</p>
								<h2>Workout Log</h2>
							</header>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Title</th>
												<th>Description</th>
												<th>Points</th>
												<!-- <th>Calories</th> -->
												<th>Start Time</th>
												<th>End Time</th>
												<th>Date</th>
											</tr>
										</thead>
										<tbody>
											{% for w in workout_dict %}
											<tr>
												<td>{{ w.workout_title }}</td>
												<td>{{ w.workout_description}}</td>
												<td>{{ w.workout_points}}</td>
												<!-- <td>{{ w.workout_calories}}</td> -->
												<td>{{ w.workout_start_time}}</td>
												<td>{{ w.workout_end_time}}</td>
												<td>{{ w.workout_pub_date }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<a style="text-decoration:none; color:blue ;font-size:1.25em; left:14.75em; position:absolute;"href="{% url 'exercise:workout' %}"
									onmouseover="this.style.color='gray';" onmouseout="this.style.color='blue';">Add Workout</a>
								</div>
						</div>
					</div>
				</div>
			</section>
			<section id="four" class="wrapper style2">
				<div class="inner">
						<div class="content">
							<header class="align-center">
								<h2>Calories Burned Chart</h2>
								<div id="calendar_basic" style="margin-left:150px; margin-right:200px width: 1000px; height: 200px;"></div>
							</header>
			</section>
		<!-- TOTAL POINTS AND LEVEL -->
		<section id="five" class="wrapper style3">
			<div class="inner">
					<div class="content">
						<header class="align-center">
							<h2>Total Points: {{totalpoints}}</h2>
							<h3>Level: {{level}}</h3>
							<h4>Points to Next Level: {{pointstonext}}</h4>
						</header>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<div class="copyright">
				UVA CS3240: Group A-17 --- Published March 2021
			</div>
			<div class="copyright">
				&copy; Untitled. All rights reserved.
			</div>
		</footer>
		<!-- Scripts -->
			<script src="../../static/exercise/assets/js/jquery.min.js"></script>
			<script src="../../static/exercise/assets/js/jquery.scrollex.min.js"></script>
			<script src="../../static/exercise/assets/js/skel.min.js"></script>
			<script src="../../static/exercise/assets/js/util.js"></script>
			<script src="../../static/exercise/assets/js/main.js"></script>

	</body>
</html>