{% load socialaccount %}
<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Work4It</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/exercise/assets/css/main.css" />
	</head>
	<script>
	function showDiv() {
		if(document.getElementById('calorieCalc').style.display == "flex") {
			document.getElementById('calorieCalc').style.display = "none";
		}
		else {
			document.getElementById('calorieCalc').style.display = "flex";
		}

	 }
	</script>

	<body>
		{% if user.is_authenticated %} <!-- AUTHENTICATED USER-->
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'exercise:home' %}">Welcome <span>{{ user.username }}</span></a></div>
				<a style="font-size:1.25em; left:8.5em; position:absolute;">|</a>
				<a style="font-size:1.25em; left:9.5em; position:absolute;"href="{% url 'account_logout'%}" 
					onmouseover="this.style.color='rgba(255, 255, 255, 0.65)';" onmouseout="this.style.color='white';">Logout</a>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'exercise:home' %}">Home</a></li>
					<li><a href="{% url 'exercise:video' %}">Instruction Videos</a></li>
					<li><a href="{% url 'exercise:workout' %}">Add Workout</a></li>
					<li><a href="{% url 'exercise:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'exercise:leaderboard' %}">Leaderboard</a></li>
				</ul>
			</nav>
			{% else %} <!-- UN AUTHENTICATED USER-->
			<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'exercise:home' %}">Work4It <span>by A-17</span></a></div>
				<a style="font-size:1.25em; left:7.5em; position:absolute;">|</a>
				<a style="font-size:1.25em; left:8.5em; position:absolute;"href="{% provider_login_url 'google' %}?next=/dashboard"
					onmouseover="this.style.color='rgba(255, 255, 255, 0.65)';" onmouseout="this.style.color='white';">Login</a>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'exercise:home' %}">Home</a></li>
					<li><a href="{% url 'exercise:video' %}">Instruction Videos</a></li>
					<li><a href="{% url 'exercise:leaderboard' %}">Leaderboard</a></li>
				</ul>
			</nav>
			{% endif %}

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>This is where you can add your workouts</p>
						<h2>{{ user.username }}</h2>
					</header>
				</div>
			</section>
		<!-- FORM FOR WORKOUT INPUT -->
   <section id="Two" class="wrapper style2">
	<div class="inner" style="margin:auto;">
	  <h3>Create New Workout</h3>
		<form method="post" action="#">
			{% csrf_token %}
			<div class="row uniform">
				<!-- TITLE OF WORKOUT -->
				<div class="6u 12u$(xsmall)">
					<input type="text" name="workout_title" id="workout_title" value="" placeholder="Title" required/>
				</div>
				<!-- DATE -->
				<div class="6u$ 12u$(xsmall)">
					<input type="date" name="workout_pub_date" id="workout_pub_date" value="" required/>
				</div>
				<!-- START TIME -->
				<div class="6u 12u$(xsmall)">
					<p style="color:black;margin:auto;">Start Time</p>
					<input type="time" name="workout_start_time" id="workout_start_time" value="" required/>
				</div>
				<!-- END TIME -->
				<div class="6u 12u$(xsmall)">
					<p style="color:black;margin:auto;">End Time</p>
					<input type="time" name="workout_end_time" id="workout_end_time" value="" required/>
				</div>
				<!-- CALORIES -->
				<div class="6u 12u$(xsmall)">
					<p style="color:black;margin:auto;">Calories Burned</p>
					<input type="number" name="workout_calories" id="workout_calories" value="" required/>
					<!--need onclick="showDiv()" for calorie calculator-->
					<a style="color:blue; text-decoration:none;" href="https://www.verywellfit.com/how-many-calories-you-burn-during-exercise-4111064" target="_blank" rel="noopener noreferrer">How Do I Calculate Calories Burned?</a>
					<!-- Couldn't get this to work, supposed to expand into a little calorie calculator but would randomly be really short
						<div id="calorieCalc" style="display:none;">
						<script type="text/javascript" async id="calories-burned-calculator" data-type="verywell-tool" 
						data-vertical="verywellfit" 
						src="https://www.verywellfit.com/static/4.219.0/components/tools/calculators/iframe-embed/embed.min.js?id=calories-burned-calculator">
						</script>
					</div>
					-->

				</div>
				<!-- WORKOUT DESCRIPTION -->
				<div class="12u$">
					<textarea name="workout_description" id="workout_description" placeholder="Enter description" rows="6"></textarea required>
				</div>
				<!-- Break -->
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Save"/></li>
					</ul>
				</div>
			</div>
		</form>
	   <div>
	</section>
		<!-- END OF FORM FOR WORKOUT INPUT -->
		<!-- Footer -->
		<footer id="footer">
			<div class="copyright">
				UVA CS3240: Group A-17 --- Published March 2021
			</div>
		</footer>

		<!-- Scripts -->
			<script src="../../static/exercise/assets/js/jquery.min.js"></script>
			<script src="../../static/exercise/assets/js/jquery.scrollex.min.js"></script>
			<script src="../../static/exercise/assets/js/skel.min.js"></script>
			<script src="../../static/exercise/assets/js/util.js"></script>
			<script src="../../static/exercise/assets/js/main.js"></script>

	</body>
</html>